/* Estilos gerais */
body {
    background-color: black;
    color: green;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #0b3d0b;
    border-bottom: 2px solid green;
}

h1 {
    color: green;
}

section {
    margin-top: 20px;
    padding: 20px;
    border: 2px solid green;
    background-color: #0b3d0b;
}

button {
    background-color: green;
    color: black;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    cursor: pointer;
}

button:hover {
    background-color: #005700;
}

#output {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: green;
    border: 1px solid green;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}
